body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main-section {
   background: linear-gradient(180deg, #937DFF 0%, #C785CF 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transparent-section {
  background-image: radial-gradient(404.51% 129.50% at 7.25% 14.15%, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.00) 100%);
  backdrop-filter: blur(50px);
  width: 90%; /* Increase width to 90% */
  height: 90%;
  max-width: 1200px;
  padding: 40px; /* Increase padding for more space inside the transparent section */
  border: 2px solid white; /* Add white border */
  border-radius: 20px; /* Add border radius for rounded corners */
  margin-top: -5%; /* Negative margin to reduce space at the top */
  margin-bottom: -10%; /* Negative margin to increase height only at the bottom */

}

h1 {
  font-size: 60px; /* Set font size to 60px */
  font-weight: bold; /* Make the heading bold */
  color: white; /* Set text color to white */
}

p {
  font-size: 25px; /* Set font size to 25px */
  color: white; /* Set text color to white */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  margin-top: 20px; /* Add margin to the navbar for spacing */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-left: 20px;
}

.navbar li:first-child {
  margin-left: 0;
}

.navbar a {
  font-size: 20px; /* Set font size to 32px */
  font-weight: bold; /* Make the navbar items bold */
  color: white; /* Set text color to white */
  text-decoration: none;
  padding: 5px 10px;
}

.navbar a:hover {
  background-color: #6d6fef;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid whitesmoke;
}

#signOutButton:hover{
  background-color: #0d12af;
  border-radius: 20px;
  padding: 10px;
}

button {
  font-size: 20px; /* Set font size to 28px for a bigger button */
  font-weight: bold;
  color: white;
  /* background-color: #937DFF; Set the background color to #937DFF */
  /* padding: 15px 30px; Increase padding for more button size */
  border: none;
  border-radius: 10px; /* Add border radius for rounded corners */
  cursor: pointer;
    align-self: center; /* Center the button horizontally within the .left-column */

}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left-column {
  flex: 1;
  max-width: 600px;
   display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
}

.right-column {
  flex: 1;
  max-width: 600px;
  text-align: center;
}

.left-column h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.left-column p {
  font-size: 16px;
  margin-bottom: 20px;
}

.left-column button {
  background-color: #937DFF;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.right-column img {
  max-width: 100%;
  height: auto;
}

/* Mobile responsiveness */
@media screen and (max-width: 767px) {
  .transparent-section {
    width: 90%;
  }
  
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar {
    margin-top: 10px;
  }
  
  .left-column, .right-column {
    max-width: 100%;
  }
}



/* Log IN Page */
.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  max-width: 600px;
  margin: 0 auto;
}

.login-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.login-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.login-section label {
  font-size: 18px;
  margin-bottom: 5px;
}

.login-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

.login-section button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #937DFF;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-section p {
  font-size: 16px;
}

.login-section button:last-child {
  margin-left: 5px;
}

.main-section {
  background-color: #937DFF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transparent-section {
  background-color: rgba(147, 125, 255, 0.2);
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;
  margin-top: -10px;
  margin-bottom: -20px;
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.login-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.login-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.login-section label {
  font-size: 18px;
  margin-bottom: 5px;
}

.login-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

.login-section button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #937DFF;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-section p {
  font-size: 16px;
}

.login-section button:last-child {
  margin-left: 5px;
}
.footer {
  /* background-image: radial-gradient(ellipse, rgba(255, 255, 255, 1) 0%, rgba(147, 125, 255, 1) 100%); */
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row; /* Add flex-direction to stack the elements vertically */
}

.footer p {
  color: rgb(49, 8, 132);
  font-size: 18px;
  font-weight: bold;
  /* margin-bottom: 10px; Add some space between the "Follow us" text and icons */
}

.footer-icons {
  display: flex;
  gap: 30px;
}

.footer-icons a {
  color: white;
  font-size: 30px;
  gap: 10px;
  /* margin-right: 15px; */
  text-decoration: none;
}

/* Profile Page styling */
.profile-card{
  overflow: scroll;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  
}

.p2{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#profileImage{
  height: 250px;
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
}

form#editProfileForm {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: left; /* Center the form horizontally */
  justify-content: space-between;
  margin-top: 20px; /* Add some margin at the top for spacing */
}

#editProfileForm button {
  width: 125px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #937DFF; 
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding: 15px 30px; Adjust padding for button size */
  border: 1px solid whitesmoke;
  border-radius: 13px; /* Add border radius for rounded corners */
  cursor: pointer;
  max-width: 120px;
}

/* form edit profile styling */
/* CSS for center-aligned labels and inputs */
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  flex: 1;
  text-align: left;
  margin-right: 10px;
  width: 100px;
  font-size:22px;
}

.form-group input,
.form-group textarea,
.form-group button {
  flex: 1;
}
#editBio, #editName{
  padding: 5px; /* Add padding to create space around the inputs */
  border: 1px solid grey;
  border-radius: 10px;
  /* max-width: 30%; */
  width: 100%;
}

.form-group input{
  height: 30px; /* Adjust input height */
  width: 100%; /* Adjust input width */
}

/* Additional styling for the camera container */
.camera-container {
  margin-top: 10px;
}

.transparent-section{
  overflow: scroll;
}

.inputImage{
  display: flex;
  flex-direction: row;
  gap:2px;
}